@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --fondo: #f4eae2;
    --fondo2: #ecdcd1;
    --texto: #34354e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--texto);
}

body{
    background-color: var(--fondo);
}

/* Nav Bar */
.header{
    background-color: var(--fondo);
}


.header-top{
    display: flex;
    margin-bottom: 200px;
    padding: 20px 270px;
}

.autor{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

/* Esenciales */
.titulo{
    font-family: 'DM Serif Display';
    font-size: 70px;
    line-height: 1.1;
}

.subtitulo{
    font-family: 'DM Serif Display';
    font-size: 40px;
}

.parrafo{
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
}

/* Header Body */
.header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 270px;
    margin-bottom: 150px;
}

.hb-left{
    max-width: 700px;
}

.hb-right img{
    width: 300px;
}

/* Seccion 1*/

.section1{
    background-color: var(--fondo2);
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 30px;
    border: 1px solid #c4b4aab8;
    margin-bottom: 100px;
    padding: 50px 50px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 170px;
}

.info-container .parrafo{
    text-align: center;
    margin-top: 10px;
}

/* */

.add-info1{
    text-align: center;
    padding: 0px 170px;
    margin: 50px 0px;
}

.add-info1 .p1{
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    color: rgb(15, 174, 15);
    margin-bottom: 3px;
}

.add-info1 .p2{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--texto);
}

/* */

.combos-container{
    display: flex;
    justify-content: space-around;
}

.combo{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: var(--fondo2);
    border: 3px solid #502314;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

.combo:hover {
    transform: scale(1.1);
}

.combo img{
    max-width: 80%;
    max-height: 80%;
    align-self: center;
}

.combo-name{
    font-family: 'Roboto';
    font-size: 20px;
    color: #502314;
    font-weight: 600;
    text-align: center;
}

/* */

.add-info2{
    text-align: center;
    padding: 0px 170px;
    margin: 50px 0px;
}

.add-info2 .p1{
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    color: rgb(242, 22, 22);
    margin-bottom: 3px;
}

.add-info2 .p2{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--texto);
}

/* */

.combos-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.combo2{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    background-color: var(--fondo2);
    border: 2px solid #502314;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

.combo2:hover {
    transform: scale(1.1);
}

.combo2 img{
    max-width: 75%;
    max-height: 75%;
    align-self: center;
}

.combo-name2{
    font-family: 'Roboto';
    font-size: 15px;
    color: #502314;
    font-weight: 500;
    text-align: center;
}